<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Nowy wpis</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <h1>Nowy wpis</h1>
        <form th:action="@{/entries/create}" th:object="${information}" method="POST">
            <div>
                <label for="title">Tytuł:</label>
                <br><input type="text" id="title" th:field="*{title}" required />
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Problem z tytułem</div>
            </div>
            <div>
                <label for="content">Treść:</label>
                <br><textarea id="content" th:field="*{content}" required></textarea>
                <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Problem z treścią</div>
            </div>
            <div>
                <label for="category">Kategoria:</label>
                <br>
                <select id="category" th:field="*{categoryId}" required>
                    <option value="null" selected>(brak)</option>
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}">Problem z kategorią</div>
            </div>

            <br><button type="submit">Zapisz</button>
        </form>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
