<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Galeria</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1>Galeria</h1>

    <form action="/entries/sort" method="post">
        <label for="sortBy">Sortuj według:</label>
        <select id="sortBy" name="sortBy">
            <option value="date">Data</option>
            <option value="title">Tytuł</option>
        </select>
        <label for="sortDirection">Kierunek:</label>
        <select id="sortDirection" name="sortDirection">
            <option value="asc">Rosnąco</option>
            <option value="desc">Malejąco</option>
        </select>
        <button type="submit">Sortuj</button>
    </form>

    <form action="/entries/filter/date" method="post">
        <label for="fromDate">Filtruj od daty:</label>
        <input type="date" id="fromDate" name="fromDate">
        <button type="submit">Filtruj</button>
    </form>

    <form action="/entries/filter/category" method="post">
        <label for="categoryId">Filtruj według kategorii:</label>
        <select id="categoryId" name="categoryId">
            <option value="">Wybierz kategorię...</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category.id}" th:text="${category.name}"></option>
            </th:block>
        </select>
        <button type="submit">Filtruj</button>
    </form>

        <div>
            <h2>Twoje wpisy</h2>
            <span th:if="${entries.isEmpty()}">
                Nie dodałeś jeszcze żadnych wpisów!<br>
            </span>
            <table class="sortable" th:if="${!entries.isEmpty()}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tytuł</th>
                    <th>Treść</th>
                    <th>Kategoria</th>
                    <th>Data</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="info, i : ${entries}">
                    <td th:text="${i.index + 1}">#</td>
                    <td th:text="${info.title}">Tytuł</td>
                    <td th:text="${info.content}">Treść</td>
                    <td>
                            <span th:if="${info.categoryId != null}">
                                <span th:text="${categoryIdToNameMap[info.categoryId] != null ? categoryIdToNameMap[info.categoryId] : '–'}"></span>
                            </span>
                        <span th:if="${info.categoryId == null}">–</span>
                    </td>
                    <td th:text="${info.creationDate}"></td>
                    <td>
                        <a title="Przejdź do wpisu" th:href="'/entries/' + ${info.url}"><span class="material-symbols-outlined">link</span></a>

                        <form th:action="@{/entries/edit/{id}(id=${info.id})}" method="GET">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <a title="Edytuj wpis" style="cursor: pointer" onclick="this.closest('form').submit();"><span class="material-symbols-outlined">edit</span></a>
                        </form>

                        <form th:action="@{/entries/delete/{id}(id=${info.id})}" th:method="DELETE">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <a title="Usuń wpis" style="cursor: pointer" onclick="this.closest('form').submit();"><span class="material-symbols-outlined">delete</span></a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <br><a href="/entries/create"><button type="button">Nowy wpis</button></a>
        </div>
        <div>
            <h2>Twoje kategorie</h2>
            <span th:if="${categories.isEmpty()}">
                Nie stworzyłeś jeszcze żadnych kategorii!<br>
            </span>
            <table class="sortable" th:if="${!categories.isEmpty()}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Wpisy</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c, i : ${categories}">
                    <td th:text="${i.index + 1}">#</td>
                    <td th:text="${c.name}">Nazwa</td>
                    <td th:text="${categoryCounts[c.id]}">Wpisy</td>
                    <td>
                        <form th:action="@{/categories/edit/{id}(id=${c.id})}" method="GET">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <a title="Edytuj kategorię" style="cursor: pointer" onclick="this.closest('form').submit();"><span class="material-symbols-outlined">edit</span></a>
                        </form>

                        <form th:action="@{/categories/delete/{id}(id=${c.id})}" th:method="DELETE">
                            <a title="Usuń kategorię" style="cursor: pointer" onclick="this.closest('form').submit()"><span class="material-symbols-outlined">delete</span></a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <br><a href="/categories/create"><button type="button">Nowa kategoria</button></a>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>