<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Edytuj kategorię</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <h1>Edytuj wpis</h1>
        <form th:action="@{/categories/edit}" th:object="${category}" method="POST">
            <input type="hidden" th:field="*{id}" th:value="${categoryId}">
            <input type="hidden" th:field="*{ownerId}">

            <div>
                <label for="name">Nazwa:</label>
                <br><input type="text" id="name" th:field="*{name}" required />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Problem z nazwą</div>
            </div>

            <br><button type="submit">Zapisz</button>
        </form>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
