<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Panel administratora</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <h1>Panel administratora</h1>

        <div>
            <h2>Użytkownicy</h2>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Wiek</th>
                    <th>Login</th>
                    <th>Rola</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u, i : ${users}">
                    <td th:text="${i.index + 1}">#</td>
                    <td th:text="${u.id}">ID</td>
                    <td th:text="${u.name}">Imię</td>
                    <td th:text="${u.surname}">Nazwisko</td>
                    <td th:text="${u.age}">Wiek</td>
                    <td th:text="${u.username}">Login</td>
                    <td th:text="${u.getAuthorities()[0].toString().replace('ROLE_', '')}" th:if="${!u.getAuthorities().isEmpty()}">Rola</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Zmień rolę</h2>
            <form th:action="@{/admin/edit}" method="post">
                <label>
                    <input type="text" name="username" placeholder="Login">
                </label>
                <label>
                    <select name="authority">
                        <option value="" selected disabled>Rola</option>
                        <option value="ROLE_ADMIN">administrator</option>
                        <option value="ROLE_USER">użytkownik</option>
                        <option value="ROLE_LIMITED">użytkownik ograniczony</option>
                    </select>
                </label>
                <button type="submit">Nadaj</button>
            </form>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>